.headBar_wrap {
  .headBar {
    padding: .425em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; z-index: 5;
    width: 100%;
    background: #fff;
    span {
      padding: 0 1.250rem;
    }
    @media(min-width: 480px) {
      width: 480px;
    }
  }
}
.head_height {
  height: 50px;
}
#logo {
  > a {
    display: flex;
    align-items: center;
    > img {
      height: 20px;
    }
  }
}
#navOpen {
  font-size: 24px;
}
.navIcon {
  font-size: 20px;
  color: var(--main-color);
}

#asideMenu {
  position: fixed; z-index: 10;
  top: 0;
  left: -280px;
  // left: 0;
  background: #EEF0F5;
  overflow-y: auto;
  width:280px; height: 100%;
}
.asideMenuOpen {
  transform: translateX(280px);
  transition: all .4s ease-in-out;
}

.topSearch {
  position: fixed; z-index: 9;
  top: -48px;
  // top: 0;
  height: 48px;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between; align-items: center;
  @media(min-width: 480px) {
    width: 480px;
  }
  .search-inner {
    display: flex;
    justify-content: space-between; align-items: center;
    padding: 0 1.250em;
  }
}
#searchBtn {visibility: hidden;}

.search-input {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0 !important;
  > input {
    width: 100%;
    padding: .4em .4em;
    border: none;
    &::placeholder {
      letter-spacing: -1px;
      color: #999;
    }
  }
}

.topSearchOpen {
  transform: translateY(48px);
  transition: all .3s ease-in-out;
}

#blackBg {
  position: fixed; z-index: 9;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .3;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .755em;
  border-bottom: 1px solid #DBDCEE;
  > span > i {
    font-size: 1rem;
  }
  img {
    height: 20px;
  }
}

.icons {
  display: flex;
  justify-content:space-around;
  padding: .7em .4em;
  border-bottom: 1px solid #DBDCEE;
  .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    color: #777;
    > i {
      font-size: 1.3rem;
    }
    > a {
      color: #777;
      font-size: 12px;
      text-decoration: none;
      letter-spacing: -.5px;
    }
  }
}
