.headBar_wrap {
  padding: .4rem 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  > a {
    display: flex;
    align-items: center;
    > img {
      height: 20px;
    }
  }
}
#navOpen {
  font-size: 24px;
}
.navIcon {
  font-size: 20px;
  color: var(--main-color);
}

#asideMenu {
  position: fixed; z-index: 10;
  top: 0; left: -280px;
  background: #fff;
  overflow-y: auto;
  width:280px;
  border: 1px solid tan;
}
.asideMenuOpen {
  transform: translateX(280px);
  transition: all .4s ease-in-out;
}

.topSearch {
  position: fixed; z-index: 9;
  top: -48px; height: 48px;
  background: #eee;
  width: 100%;
  @media(min-width: 480px) {
    width: 480px;
  }
}

.topSearchOpen {
  transform: translateY(48px);
  transition: all .4s ease-in-out;
}
